ErrorDocument 404 /404

DirectoryIndex index.php

<Files "index.php">
    Order Allow,Deny
    Allow from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteOptions MaxRedirects=100

    RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
    RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
    RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
    RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
    RewriteRule ^.*$ index.php

    RewriteCond %{REQUEST_URI} !^/fonts/.*$ [NC]
    RewriteCond %{REQUEST_URI} !^/img/.*$ [NC]
    RewriteCond %{REQUEST_URI} !^/inc/.*$ [NC]
    RewriteCond %{REQUEST_URI} !^/css/.*$ [NC]
    RewriteCond %{REQUEST_URI} !^/js/.*$ [NC]
    RewriteCond %{REQUEST_URI} !^/admin/.*$ [NC]
    RewriteCond %{REQUEST_URI} !^/about.*$ [NC]
    RewriteCond %{REQUEST_URI} !^/test.*$ [NC]
    RewriteCond %{REQUEST_URI} !^/editor.*$ [NC]
    RewriteRule ^.*$ index.php

</IfModule>
AddDefaultCharset utf-8